$color-turquoise: #10c9c3



img 
	width: 100%
.header
	background-color: #e9e9e9
.navbar-collapse
	flex-grow: inherit
li.active a
	color: #10c9c3!important
li a
	color: #1d1d1d!important
	&:hover
		color: $color-turquoise!important
.contact_design
	width: 476px
	padding-bottom: 122px
	padding-top: 122px
	padding-right: 39px
.btn-contact
	padding: 8px 16px
	background-color: $color-turquoise
	border-radius: 1.5px
	&:hover 
		background-color: #20f9f2
.initials_signature
	width: 600px
	margin: 0 auto
.skills 
	background: linear-gradient(to right, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 51%, rgba(233,233,233,1) 51%)
	padding: 100px 100px
.progress 
	height: 0.3rem
	.progress-bar 
		background-color: $color-turquoise
.professional_skills 
	width: 463px
.work_statistics 
	background-color: $color-turquoise
.hover_block:hover
	background-color: #252525
	background-image: url(../img/look_hover.png)
	background-repeat: no-repeat
	background-position: center 50%
	img 
		opacity: 0
.block_button 
	background-color: #f5f5f5
	.load_work
		margin: 0 auto
		display: block
		color: #b0b0b0




